* {
  font-family: sans-serif;
  color: white;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

html {
  background: rgb(6,14,56);
  background: radial-gradient(circle, rgba(6,14,56,1) 0%, rgba(2,6,24,1) 100%);
  padding: 2rem;
}